<li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">{{ comment.author.name }}</div>
        <div>{{ comment.content }}</div>
        <div class="my-2 me-auto">
            <ul class="list-group list-group-flush">
                {% for reply in comment.replies %}
                    {% include "reply.html" with reply=reply %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <span class="badge bg-secondary rounded-pill">{{ comment.replies | length }}</span>
</li>