<div class="card my-3">
    <div class="card-header">
        {{ post.author.username }}
        <small class="text-secondary">님이 작성한 게시글</small>
    </div>
    <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
    </div>
    <div class="card-body">
        <small>총 {{ post.comments | length }}개의 댓글</small>
        <ul class="list-group list-group-flush">
            {% for comment in post.comments %}
                {% include "comment.html" with comment=comment %}
            {% endfor %}
        </ul>
    </div>
</div>